/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 100%; /* O el ancho específico que prefieras */
    max-width: 400px; /* Ajusta según el ancho deseado para el formulario */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background: white; /* Fondo del formulario para contraste */
    border-radius: 8px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="date"],
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #004494;
}

center{
    margin-left: auto;
    margin-right: auto;
}