.form-container {
    width: 320px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: #ffffff;
    margin: 0 auto;
  }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  
  .form {
    margin-top: 1.5rem;
  }
  
  .input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
  }
  
  .input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
  }
  
  .input-group input:focus {
    border-color: #fd8a32;
  }
  
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175,1);
    margin: 8px 0 14px 0;
  }
  
  .forgot a,.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgot a:hover, .signup a:hover {
    text-decoration: underline #fd8a32;
  }
  
  .sign {
    display: block;
    width: 100%;
    background-color: #fd8a32;
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
  }
  
  .social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
  
  .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
  }
  
  .social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
  }
  
  .social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
  }
  
  .signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
  }
  
  @media only screen and (max-width: 600px) {

    /* Redefine el tamaño del logo */
    .w3-container.w3-bar img {
        width: 80px; /* Por ejemplo, ajusta el tamaño a 80px */
        height: 80px; /* También puedes ajustar la altura */
    }
    
    /* Ajusta el tamaño del texto en la barra de navegación */
    .w3-bar-item {
        font-size: 14px; /* Por ejemplo, ajusta el tamaño del texto a 14px */
    }

    /* Cambia la disposición de los elementos en la barra de navegación */
    .w3-bar-item {
        display: block; /* Por ejemplo, cambia la visualización de los elementos a bloque */
        text-align: center; /* También puedes centrar el texto */
        margin-bottom: 10px; /* Agrega espacio entre los elementos */
    }

    /* Ajusta el tamaño de los inputs en el formulario */
    .input-group input {
        width: 100%; /* Por ejemplo, ajusta el ancho de los inputs al 90% del contenedor */
        margin-bottom: 10px; /* Agrega espacio entre los inputs */
    }

    /* Cambia el tamaño del botón */
    #btnAccede {
        width: 100%; /* Por ejemplo, ajusta el ancho del botón al 100% del contenedor */
    }

    /* Modifica el tamaño del texto en el enlace de "Crea cuenta gratis" */
    .signup a {
        font-size: 14px; /* Por ejemplo, ajusta el tamaño del texto a 14px */
    }

  /* Estilos para dispositivos con un ancho máximo de 600px (celulares) */
  @media only screen and (max-width: 600px) {
    .w3-container.w3-bar {
        max-width: 95%; /* Reducir el ancho máximo de la barra en dispositivos pequeños */
        margin: 0 auto; /* Centrar la barra horizontalmente en dispositivos pequeños */
    }
    .menu-links {
        flex-grow: 1; /* Permitir que los enlaces ocupen todo el espacio restante */
        justify-content: space-around; /* Distribuir los enlaces uniformemente en dispositivos pequeños */
    }
  }

  .w3-input{
    width: 10%; /* Por ejemplo, ajusta el ancho de los inputs al 90% del contenedor */
    margin-bottom: 10px
  } 
  .w3-border{
    width: 100%; /* Por ejemplo, ajusta el ancho de los inputs al 90% del contenedor */
    margin-bottom: 10px
  }
}
