body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin: auto;
    width: 80%;
  }
  
  h2 {
    color: #333;
    text-align: center;
  }
  
  canvas {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  #edadPromedio {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    color: #555;
  }
  

  .logo {
    position: absolute;
    top: 10px;
    right: 10px;
  }